<nav class="w-full flex justify-between mx-auto my-3 fixed top-0 item-center py-2 px-4 rounded-none border-black border-x-b bg-blue-400">
<span class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-bold text-black-600">
       <%= link_to "Our Music", root_path, class: "" %>
    </span>  
    <div class="flex justify-between">
    <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
        <%= link_to "Artist", client_artists_path, class: "" %>
    </button>
    <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
        <%= link_to "Song", client_songs_path, class: "" %>
    </button>
    <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
        <%= link_to "Album", client_albums_path, class: "" %>
    </button>
    <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
        <%= link_to "About Dashboard", client_statics_about_path, class: "" %>
    </button>
    <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
        <%= link_to "Contact Dashboard", client_statics_contact_path, class: "" %>
    </button>

        
    
        <% if user_signed_in? %>
            
            <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white" %>
            </button>
            <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
                <%= link_to "Profile", edit_user_registration_path, class: "text-white" %>
            </button>

        <% else %>
        
            <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
                <%= link_to "Login", new_user_session_path, class: "text-white" %>
            </button>
            <button class="inline-block rounded-md px-4 py-2 text-sm text-white-500 hover:text-gray-700">
                <%= link_to "Sign in", new_user_registration_path, class: "text-white" %>
            </button>
        <% end %>
    </div>
    </div>
</nav>
    